---
layout: default
---
<a href="{{site.url}}/ukulele/">ukulele</a>
<a href="{{site.url}}/christmas/">Christmas</a>
<a href="{{site.url}}/anthems/">anthems</a>
<a href="{{site.url}}/harmonica/">harmonica</a>


<div class="moozilla" style="display: none;"> 
	<h2>Ukulele</h2>
	<ul>
		{% assign sortedPosts = site.ukulele | sort: 'author' %}
		{% for songs in sortedPosts %}
			<li><span><a href="{{songs.url | prepend: site.baseurl }}"><author {% if songs.unedited %} class="edit" {% endif %}>{{songs.author}}</author> {{songs.title}}</a></span></li>
		{% endfor %}
	</ul>

	<h2>Harmonica</h2>			
	<ul>
		{% for songs in site.harmonica %}
		{% if songs.instrument == "Harmonica" %}
			<li><span><a href="{{songs.url | prepend: site.baseurl }}"><author {% if songs.unedited %} class="edit" {% endif %}>{{songs.author}}</author> {{songs.title}}</a></span></li> {% endif %}
		{% endfor %}
	</ul>

	<h2>Cymraeg</h2>
	<ul>
		{% for songs in site.cerddoriaeth %}
		{% if songs.lang == "Cymraeg" %}
			<li><span><author {% if songs.unedited %} class="edit" {% endif %}>{{songs.instrument}}</author><a href="{{songs.url | prepend: site.baseurl }}"> {{songs.title}}</a></span></li> {% endif %}
		{% endfor %}
	</ul>

	<h2>Anthems</h2>			
	<ul>
		{% for songs in site.anthems %}
		{% if songs.lang == "Anthem" %}<li><span><author {% if songs.unedited %} class="edit" {% endif %}>{{songs.instrument}}</author><a href="{{songs.url | prepend: site.baseurl }}"> {{songs.author}}{{songs.title}}</a></span></li> {% endif %}
		{% endfor %}
	</ul>
</div>