[A]: {{site.baseurl}}/chords/A.svg  "A major"
[A7]: {{site.baseurl}}/chords/A7.svg  "A Seven"
[Amaj7]: {{site.baseurl}}/chords/Amaj7.svg  "A Major 7"
[A7sus4]: {{site.baseurl}}/chords/A7sus4.svg  "A major"
[Am]: {{site.baseurl}}/chords/Am.svg  "A Minor"
[Am7]: {{site.baseurl}}/chords/Am7.svg  "A Minor 7"
[Am7-b5]: {{site.baseurl}}/chords/Am7-b5.svg  "A major"
[Aaug]: {{site.baseurl}}/chords/Aaug.svg  "A major"
[Adim]: {{site.baseurl}}/chords/Adim.svg  "A major"
[Adim7]: {{site.baseurl}}/chords/Adim7.svg  "A major"
[Asus2]: {{site.baseurl}}/chords/Asus2.svg  "A major"
[Asus4]: {{site.baseurl}}/chords/Asus4.svg  "A major"
[Ab]: {{site.baseurl}}/chords/Ab.svg  "Ab major"
[Abmaj7]: {{site.baseurl}}/chords/Abmaj7.svg  "Ab major"
[Ab7]: {{site.baseurl}}/chords/Ab7.svg  "Ab major"
[Abm]: {{site.baseurl}}/chords/Abm.svg  "Ab major"
[Abm7]: {{site.baseurl}}/chords/Abm7.svg  "Ab major"
[Ab7sus4]: {{site.baseurl}}/chords/Ab7sus4.svg  "Ab major"
[Abaug]: {{site.baseurl}}/chords/Abaug.svg  "Ab major"
[Abdim]: {{site.baseurl}}/chords/Abdim.svg  "Ab major"
[Abdim7]: {{site.baseurl}}/chords/Abdim7.svg  "Ab major"
[Abm7-b5]: {{site.baseurl}}/chords/Abm7-b5.svg  "Ab major"
[Absus2]: {{site.baseurl}}/chords/Absus2.svg  "Ab major"
[Absus4]: {{site.baseurl}}/chords/Absus4.svg  "Ab major"
[B]: {{site.baseurl}}/chords/B.svg  "B major"
[B7]: {{site.baseurl}}/chords/B7.svg  "B Seven"
[Bmaj7]: {{site.baseurl}}/chords/Bmaj7.svg  "B Major 7"
[Bm]: {{site.baseurl}}/chords/Bm.svg  "B Minor"
[Bm7]: {{site.baseurl}}/chords/Bm7.svg  "B Minor 7"
[B7sus4]: {{site.baseurl}}/chords/B7sus4.svg  "B major"
[Baug]: {{site.baseurl}}/chords/Baug.svg  "B major"
[Bdim]: {{site.baseurl}}/chords/Bdim.svg  "B Diminished"
[Bdim7]: {{site.baseurl}}/chords/Bdim7.svg  "B Diminished 7"
[Bdim7-b5]: {{site.baseurl}}/chords/Bdim7-b5.svg  "B Diminished 7 / b5"
[Bsus2]: {{site.baseurl}}/chords/Bsus2.svg  "B Sustained 2"
[Bsus4]: {{site.baseurl}}/chords/B.svg  "B Sustained 4"
[Bb]: {{site.baseurl}}/chords/Bb.svg  "Bb major"
[Bb7]: {{site.baseurl}}/chords/Bb7.svg  "Bb 7"
[Bb7sus4]: {{site.baseurl}}/chords/Bb7sus4.svg  "Bb major"
[Bbaug]: {{site.baseurl}}/chords/Bbaug.svg  "Bb major"
[Bbdim]: {{site.baseurl}}/chords/Bbdim.svg  "Bb major"
[Bbdim7]: {{site.baseurl}}/chords/Bbdim7.svg  "Bb major"
[Bbm]: {{site.baseurl}}/chords/Bbm.svg  "Bb major"
[Bbm7-b5]: {{site.baseurl}}/chords/Bbm7-b5.svg  "Bb major"
[Bbm7]: {{site.baseurl}}/chords/Bbm7.svg  "Bb major"
[Bbmaj7]: {{site.baseurl}}/chords/Bbmaj7.svg  "Bb major"
[Bbsus2]: {{site.baseurl}}/chords/Bbsus2.svg  "B major"
[Bbsus4]: {{site.baseurl}}/chords/Bbsus4.svg  "Bb major"
[C]: {{site.baseurl}}/chords/C.svg  "C major"
[C7]: {{site.baseurl}}/chords/C7.svg  "C Seven"
[Cm]: {{site.baseurl}}/chords/Cm.svg  "C Minor"
[Cmaj7]: {{site.baseurl}}/chords/Cmaj7.svg  "C Major 7"
[Cm7]: {{site.baseurl}}/chords/Cm7.svg  "C Minor 7"
[C7sus4]: {{site.baseurl}}/chords/C7sus4.svg  "C7sus4 major"
[Caug]: {{site.baseurl}}/chords/Caug.svg  "Caug major"
[Cdim]: {{site.baseurl}}/chords/Cdim.svg  "Cdim major"
[Cdim7]: {{site.baseurl}}/chords/Cdim7.svg  "Cdim7 major"
[Cm7-b5]: {{site.baseurl}}/chords/Cm7-b5.svg  "Cm7-b5 major"
[Csus2]: {{site.baseurl}}/chords/Csus2.svg  "Csus2 major"
[Csus4]: {{site.baseurl}}/chords/Csus4.svg  "Csus4 major"
[D]: {{site.baseurl}}/chords/D.svg  "D major"
[D7]: {{site.baseurl}}/chords/D7.svg  "D Seven"
[Dm]: {{site.baseurl}}/chords/Dm.svg  "D Minor"
[Dmaj7]: {{site.baseurl}}/chords/Dmaj7.svg  "D Major 7"
[Dm7]: {{site.baseurl}}/chords/Dm7.svg  "D Minor 7"
[Dsus4]: {{site.baseurl}}/chords/Dsus4.svg  "Dsus4 major"
[Daug]: {{site.baseurl}}/chords/Daug.svg  "Daug major"
[Ddim]: {{site.baseurl}}/chords/Ddim.svg  "Ddim major"
[Ddim7]: {{site.baseurl}}/chords/Ddim7.svg  "Ddim7 major"
[Dsus2]: {{site.baseurl}}/chords/Dsus2.svg  "Dsus2 major"
[Dsus4]: {{site.baseurl}}/chords/Dsus4.svg  "Dsus4 major"
[E]: {{site.baseurl}}/chords/E.svg  "E major"
[E7]: {{site.baseurl}}/chords/E7.svg  "E Seven"
[Em]: {{site.baseurl}}/chords/Em.svg  "E Minor"
[Emaj7]: {{site.baseurl}}/chords/Emaj7.svg  "E Major 7"
[Em7]: {{site.baseurl}}/chords/Em7.svg  "E Minor 7"
[E7sus4]: {{site.baseurl}}/chords/E7sus4.svg  "E7sus4 major"
[Eaug]: {{site.baseurl}}/chords/Eaug.svg  "Eaug major"
[Edim]: {{site.baseurl}}/chords/Edim.svg  "Edim major"
[Edim7]: {{site.baseurl}}/chords/Edim7.svg  "Edim7 major"
[Esus2]: {{site.baseurl}}/chords/Esus2.svg  "Esus2 major"
[Esus4]: {{site.baseurl}}/chords/Esus4.svg  "Esus4 major"
[Eb]: {{site.baseurl}}/chords/Eb.svg  "Eb major"
[Ebm]: {{site.baseurl}}/chords/Ebm.svg  "Eb major"
[Ebm7]: {{site.baseurl}}/chords/Ebm7.svg  "Eb major"
[Ebmaj7]: {{site.baseurl}}/chords/Ebmaj7.svg  "Eb major"
[Eb7]: {{site.baseurl}}/chords/Eb7.svg  "Eb7 major"
[Eb7sus4]: {{site.baseurl}}/chords/Eb7sus4.svg  "E major"
[Ebaug]: {{site.baseurl}}/chords/Ebaug.svg  "E major"
[Ebdim]: {{site.baseurl}}/chords/Ebdim.svg  "E major"
[Ebdim7]: {{site.baseurl}}/chords/Ebdim7.svg  "E major"
[Ebsus2]: {{site.baseurl}}/chords/Ebsus2.svg  "E major"
[Ebsus4]: {{site.baseurl}}/chords/Ebsus4.svg  "E major"
[F]: {{site.baseurl}}/chords/F.svg  "F major"
[F7]: {{site.baseurl}}/chords/F7.svg  "F Seven"
[Fm]: {{site.baseurl}}/chords/Fm.svg  "F Minor"
[Fmaj7]: {{site.baseurl}}/chords/Fmaj7.svg  "F Major 7"
[Fm7]: {{site.baseurl}}/chords/Fm7.svg  "F Minor 7"
[F#m]: {{site.baseurl}}/chords/Gbm.svg  "F Shap Minor / G Sharp Minor"
[F7sus4]: {{site.baseurl}}/chords/F7sus4.svg  "F7sus4 major"
[Faug]: {{site.baseurl}}/chords/Faug.svg  "Faug major"
[Fdim]: {{site.baseurl}}/chords/Fdim.svg  "Fdim major"
[Fdim7]: {{site.baseurl}}/chords/Fdim7.svg  "Fdim7 major"
[Fm7-b5]: {{site.baseurl}}/chords/Fm7-b5.svg  "Fm7-b5 major"
[Fsus2]: {{site.baseurl}}/chords/Fsus2.svg  "Fsus2 major"
[Fsus4]: {{site.baseurl}}/chords/Fsus4.svg  "Fsus4 major"
[G]: {{site.baseurl}}/chords/G.svg  "G major"
[Gmaj7]: {{site.baseurl}}/chords/Gmaj7.svg  "G Major 7"
[G7]: {{site.baseurl}}/chords/G7.svg  "G Seven"
[G7sus4]: {{site.baseurl}}/chords/G7sus4.svg  "G7sus4 major"
[Gm]: {{site.baseurl}}/chords/Gm.svg  "G Minor"
[Gm7]: {{site.baseurl}}/chords/Gm7.svg  "G Minor 7"
[Gm7-b5]: {{site.baseurl}}/chords/Gm7-b5.svg  "Gm7-b5 major"
[Gaug]: {{site.baseurl}}/chords/Gaug.svg  "Gaug major"
[Gdim]: {{site.baseurl}}/chords/Gdim.svg  "Gdim major"
[Gdim7]: {{site.baseurl}}/chords/Gdim7.svg  "Gdim7 major"
[Gsus2]: {{site.baseurl}}/chords/Gsus2.svg  "Gsus2 major"
[Gsus4]: {{site.baseurl}}/chords/Gsus4.svg  "Gsus4 major"
[Gb]: {{site.baseurl}}/chords/Gb.svg  "F Shap Minor / G Sharp Minor"
[Gbaug]: {{site.baseurl}}/chords/Gbaug.svg  "Gbaug major"
[Gb7]: {{site.baseurl}}/chords/Gb7.svg  "Gb7 major"
[Gb7sus4]: {{site.baseurl}}/chords/Gb7sus4.svg  "Gb7sus4 major"
[Gbdim]: {{site.baseurl}}/chords/Gbdim.svg  "Gbdim major"
[Gbdim7]: {{site.baseurl}}/chords/Gbdim7.svg  "Gbdim7 major"
[Gbm]: {{site.baseurl}}/chords/Gbm.svg  "F Shap Minor / G Sharp Minor"
[Gbm7]: {{site.baseurl}}/chords/Gbm7.svg  "F Shap Minor / G Sharp Minor"
[Gbm7-b5]: {{site.baseurl}}/chords/Gbm7-b5.svg  "F Shap Minor / G Sharp Minor"
[Gbmaj7]: {{site.baseurl}}/chords/Gbmaj7.svg  "F Shap Minor / G Sharp Minor"
[Gbsus2]: {{site.baseurl}}/chords/Gbsus2.svg  "F Shap Minor / G Sharp Minor"
[Gbsus4]: {{site.baseurl}}/chords/Gbsus4.svg  "F Shap Minor / G Sharp Minor"